{% extends "element_base.html" %}

{% block content %}
{{super()}}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Ions</h3>                
            <ul class="list-group">
                {% for ion in ions %}
                <li class="list-group-item list-group-item-action"><a href="/element-{{ element }}/ion-{{ [ion[0], ion[1]] | join('_') }}">{{ [ion[0] | capitalize, ion[2]] | join(' ')}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <h3>Abundances</h3>                
            <ul class="list-group">
                {% for ab in abundances %}
                <li class="list-group-item list-group-item-action"><a href="#">{{ ab }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <h3>Ionization Equilibrium</h3>                
            <ul class="list-group">
                {% for ioneq in ioneqs %}
                <li class="list-group-item list-group-item-action"><a href="/element-{{ element }}/ioneq-{{ ioneq }}">{{ ioneq }}</a></li>
                {% endfor %}
            </ul>
        </div>        
    </div>
</div>
{% endblock %}